/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  /* background-color: #2C3E50;
  background-image: linear-gradient(160deg, #2C3E50 0%, #000000 74%); */
  background-color: #fee2f8;
  background-image: linear-gradient(315deg, #fee2f8 0%, #dcf8ef 74%);
  min-height: 100vh;
  font-family: 'Lato', sans-serif;
  
}
/* Hide the basic scrollbar */
/* ::-webkit-scrollbar {
  display: none;
} */

.gradient-01 {
  position: absolute;
  width: 20%;
  height: 20%;
  bottom: 10%;
  right: 0%;
  background: rgb(134, 221, 247);
  border-radius: 50%;
  filter: blur(50px);
}
.gradient-02 {
  position: absolute;
  width: 15%;
  height: 15%;
  top: 10%;
  left: 4%;
  border-radius: 50%;
  background: #d6d255;
  filter: blur(90px);
}
